$primary:               #20a0ff;
$html-bg-color:         #f6f6f6;
$feature-font-color:    #999;
$page-icon-color:       #48576a;
$border-color:          #e5e5e5;
$faq-bg-color:          #393e42;
$faq-font-color:        #a4a6a7;
$financial-title-color: #666666;
$wechat-color:          #62b900;
$red-light:             #ff6d6d;
$red:                   #ff5d5b;
$dark-color:            #404040;
$gray:                  #eeeeee;
$gray-dark:             #999999;
